
.article-content{
  margin-top: 3%;
  margin-left: 5%;
}
.page-heading{
  color: deepskyblue;
  font-family: serif;
}
.card{
  padding: 10px 10px 10px 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  background-color: white;
}
.col-md-2{
	border: 1px solid #ddd;
	padding-top: .75rem;
	padding-bottom: .75rem;
  margin-left: 8px;
}
.card:hover .overlay {
  opacity: 1;
}

.btn-circle {
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  background-color:inherit;
}
.vueperslides__bullet {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  box-shadow: none;
  transition: 0.3s;
  width: 16px;
  height: 16px;
}

.vueperslides__bullet--active {
  background-color: #aac7f1;
}

.vueperslides__bullet span {
  display: block;
  color: #fff;
  font-size: 10px;
  opacity: 0.8;
}